/* DEFAULT THEME */
/*
.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable,
.cm-punctuation,
.cm-property,
.cm-operator {}
.cm-variable-2 {color: #05a; color: pink !important;}
.cm-variable-3, .cm-type {color: #085; color: pink !important;}
.cm-comment {color: #a50; color: pink !important;}
.cm-string {color: #a11; color: pink !important;}
.cm-string-2 {color: #f50; color: pink !important;}
.cm-meta {color: #555; color: pink !important;}
.cm-qualifier {color: #555; color: pink !important;}
.cm-builtin {color: #30a; color: pink !important;}
.cm-bracket {color: #997; color: pink !important;}
.cm-tag {color: #170; color: pink !important;}
.cm-attribute {color: #00c; color: pink !important;}
.cm-hr {color: #999; color: pink !important;}
.cm-link {color: #00c; color: pink !important;} */

/* .cb {
  color: red !important;
  font-size: 2rem !important;
  background: cyan !important;
} */
