
.cb {
  color: red !important;
  font-size: 2rem !important;
  background: cyan !important;
}


#root {
  display: grid;
  min-height: 95vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5rem 1fr;
}

.input-Ace .feedback-highlight {
  position: absolute;
  background: rgba(255, 233, 237, 0.2);
  border: 1px solid red;
}

.feedback-highlight {
  color: red;
  border-bottom: 1px solid red;
  border-radius: 4px;
  /* border: 1px solid red; */
  outline: red;
}

.monaco-editor {
  /* height:100%;
  width:100%;
  min-height:100%;
  min-width:100%; */
  resize: vertical;

}

/* [data-theme-light="false"] {
  background: #222;
  color: white;
} */
body {
  background: #111;
  color: #999;
}
body[data-theme-light="true"] {
  background: white;
  color: black;
  /* background: red; */
}

#control-panel {
  min-width: 20vw;
  /* width: 20vw; */
  padding: 0.5rem 0.25rem;
  background: #444;
  color: white;
  border-left: 0.25rem ridge #888;
}
#control-panel label {
  user-select: none;
}
a {
  color: cyan;
}
body[data-theme-light="true"] a {
  color: #00E;
}
body[data-theme-light="true"] #control-panel {
  border-left-color: #eee;
  border-left-style: groove;
  background: #eee;
  color: black;
}

.attr-arg-list {
  padding: 0.5rem;
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: auto auto;


  /* flex-direction: column; */
}
/* .attr-arg-input-text { */
  /* margin: 0.5rem; */
/* } */
.attr-list-submit {
  /* border-color: darkgreen; */
  width: -webkit-fill-available;
  width: fill;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0 0.125rem;
  background: none;
  cursor: pointer;
  color: white;
}
.attr-list-submit:hover {
  background: #555;
}
.attr-list-submit:active {
  background: #8888;
}
.attr-input-twopill {
  border: 1px solid #888;
  border-radius: 0.25rem;
}
body[data-theme-light="true"] .attr-input-twopill {
  border-color: #aaa;

}

body.locator-request-active .nodeLocatorContainer {
  position: relative;
}
body.locator-request-active .nodeLocatorContainer::after {
  content: ' ';
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: 100%;
  /* width: calc(-webkit-fill-available + 10px); */
  height: 100%;
  transform: translate(-50%, -50%);
  /* height: calc(-webkit-fill-available + 32px); */
  border: 2px dashed red;
  animation: nodeLocatorContainerBlink infinite 1s;
}
@keyframes nodeLocatorContainerBlink{
  0% { border-color: red; }
  50% { border-color: white; }
}
body.locator-request-active  .nodeLocatorContainer:hover::after {
  background: #F77A;
  cursor: pointer;
}

.attr-input-twopill-selected {
  background-color: #7774;
  border-color: cyan;
}
body[data-theme-light="true"] .attr-input-twopill-selected {
  border-color: cyan;
}
body[data-theme-light="true"] .attr-input-twopill-selected {
  background-color: #aaa4;

}
.attr-input-twopill-unselected {
  color: gray;
  border-color: gray;
}

.locator-symbol::after {

}
body[data-theme-light="true"] .attr-list-submit {
  border-color: #333;
  color: black;
}
body[data-theme-light="true"] .attr-list-submit:hover {
  background: #ddd;
}
body[data-theme-light="true"] .attr-list-submit:active {
  background: #bbb;
}

.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  min-width: 4rem;
  background: #333;
  color: white;
  top: 1px;
  left: 1px;
  border: 1px solid #999;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: 0px 2px 2rem #333;
  cursor: move;
  user-select: none;
  max-height: 80vh;
  /* max-width: 40vw; */
  overflow-y: auto;
  overflow-x: auto;
}
/* .modalWindow[data-anchor="top-left"] {
  left: unset;
  right: 1px;
} */
.modalWindow:focus,
.modalWindow:focus-within {
  border-color: #aff;
}

body[data-theme-light="true"] .modalWindow {
  background: #f4f4f4;
  color: #222;
  box-shadow: 0px 2px 2rem #aaa;
}


.modalTitle {
  background: #111;
  padding: 0.125rem 0.25rem;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body[data-theme-light="true"] .modalTitle {
  background: white;
}

.modalTitle .button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.modalEditButton {
  width: 18px;
  top: 3.5px;
  position: relative;

  /* margin-top: 1px; */
}
.modalOverflowButton {
  width: 22px;
}

.modalEditButton,
.modalOverflowButton {
  opacity: 0.8;
}
.modalCloseButton {
  min-width: 1.5rem;
  text-align: center;
  border-radius: 0.75rem;
  color: white;
}
body[data-theme-light="true"] .modalOverflowButton,
body[data-theme-light="true"] .modalEditButton {
  filter: invert();
}
body[data-theme-light="true"] .modalCloseButton,
body[data-theme-light="true"] .modalOverflowButton,
body[data-theme-light="true"] .modalEditButton {
  color: black;
}

                                  .syntax-type { color: #4EC9B0; }
body[data-theme-light="true"]     .syntax-type { color: #267F99; }

                                  .syntax-attr { color: #DCDCAA; }
body[data-theme-light="true"]     .syntax-attr { color: #795E26; }

                                .syntax-string { color: #CE9178; }
body[data-theme-light="true"]   .syntax-string { color: #A31515; }

                              .syntax-modifier { color: #569CD6; }
body[data-theme-light="true"] .syntax-modifier { color: #0000FF; }

                                   .syntax-int { color: #B5CEA8; }
body[data-theme-light="true"]      .syntax-int { color: #098658; }

.bg-syntax-attr-dim,
.syntax-attr-dim-focus:focus {
  background: #DCDCAA66;
}

body[data-theme-light="true"] .bg-syntax-attr-dim,
body[data-theme-light="true"] .syntax-attr-dim-focus:focus {
  background: #795E2633;
}

#input-header {
  display: flex;
  justify-content: space-between;
  padding-right: 0.25rem;
}

#input-header button,
select {
  /* font-size: 1rem; */
  height: 1.5rem;
}

#input-header,
#settings-header {
  margin: auto 0 0.125rem 0;
}

#settings-header {
  max-height: 1.5rem;
  max-width: 8rem;
  padding-left: 0.5rem;
}

#display-help {
  margin-top: 2rem;
  padding: 0 0.25rem;
  /* border-style: solid;
  border-color: black;
  background: gray; */
}

/* body[data-theme-light="true"] #display-help {
  background: #ddd;
  border-color: #aaa;
}

body[data-theme-light="true"] #display-help:hover {
  background: #aaa;
  cursor: pointer;
} */


/* #output-header::after {
  padding-left: .5rem;
}

#output-header[data-ok="true"]::after {
  content: '✅'
}

#output-header[data-ok="false"]::after {
  content: '❌';
} */

textarea {
  min-height: 50vh;
}
#output {
  color: black;
}







.monaco-rag-highlight {
	/* color: red !important; */
	/* cursor: pointer; */
	/* text-decoration: underline; */
	/* font-weight: bold; */
	font-style: oblique;
  background: #8888;
}
body[data-theme-light="true"] .monaco-rag-highlight {
  background: #8884;
}

.myLineDecoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}
.clickHighlightOnHover:hover {
  cursor: pointer;
}
.highlightOnHover:hover, .clickHighlightOnHover:hover {
  background: #7777;
}
body[data-theme-light="true"] .highlightOnHover:hover,
body[data-theme-light="true"] .clickHighlightOnHover:hover {
  background: #aaa7;
}

.attr-modal-filter {
  margin: 0.125rem 0.125rem 0.5rem;
  display: block;
  width: calc(100% - 1rem);
  /* margin-left */
  /* width: -webkit-fill-available; */

}
.attr-modal-filter.empty {
  font-style: italic;
}

.search-list-separator {
  border-top: 1px dashed white;
  margin: 0.5rem 0;
}
body[data-theme-light="true"] .search-list-separator {
  border-top-color: black;
}

.absoluteCenter {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Taken from https://loading.io/css/ */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-spinner div {
  transform-origin: 20px 20px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1.5px;
  left: 18.5px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  background: #fff;
}
body[data-theme-light="true"] .lds-spinner div:after {
  background: #555;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.captured-stdout {
  color: cyan;
  font-style: italic;
}
.captured-stderr {
  color:pink;
  font-style: italic;
}


body[data-theme-light="true"] .captured-stdout {
  color: darkblue;
}
body[data-theme-light="true"] .captured-stderr {
  color: darkred;
}

.context-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  border-top: 1px solid black;
  cursor: pointer;
}
body[data-theme-light="true"] .context-menu-row {
  border-top-color: #777;
}

.context-menu-row:first-of-type {
  border-top: none;
}
/* .context-menu-row img {
  margin-left: 1rem;
} */
.context-menu-row:hover {
  background: #7777;
}


/* background: #7777;
}
body[data-theme-light="true"] .highlightOnHover:hover,
body[data-theme-light="true"] .clickHighlightOnHover:hover {
  background: #aaa7;
} */
