
.cb {
  color: red !important;
  font-size: 2rem !important;
  background: cyan !important;
}

#root {
  display: grid;
  min-height: 98vh;
  height: 98vh;
  max-height: 98vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1.5rem 1fr;

}
html {overflow: hidden;}


body.fullscreen #input-header,
body.fullscreen #settings-header-wrapper,
body.fullscreen #control-panel,
body.hideModals .modalWindow {
  display: none;
}



body.fullscreen #root {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#settings-header-closed { display: none ;}
body.hide-settings #settings-header-closed {
  display: block;
  align-self: flex-start;
  margin-left: auto;
}
body.hide-settings #root {
  grid-template-columns: unset;
  /* grid-template-rows: unset; */
  grid-template-columns: 1fr 1.5rem;
  grid-template-areas: "a b"
                       "c c";
  /* grid-template-rows: 1fr; */
}
body.hide-settings #input-header { grid-area: a; }
body.hide-settings #settings-header-wrapper {
  grid-area: b;
}
body.hide-settings #input-wrapper { grid-area: c; }

body.hide-settings #settings-header-open { display: none; }
body.hide-settings #control-panel { display: none}

.input-Monaco {
  overflow: auto;
}

.input-Ace .feedback-highlight {
  position: absolute;
  background: rgba(255, 233, 237, 0.2);
  border: 1px solid red;
}

.feedback-highlight {
  color: red;
  border-bottom: 1px solid red;
  border-radius: 4px;
  outline: red;
}

.monaco-editor {
  /* height:100%;
  width:100%;
  min-height:100%;
  min-width:100%; */
  resize: vertical;

}

/* [data-theme-light="false"] {
  background: #222;
  color: white;
} */
body {
  background: #111;
  color: #999;
}
body[data-theme-light="true"] {
  background: white;
  color: black;
  /* background: red; */
}

#control-panel {
  min-width: 20vw;
  padding: 0.5rem 0.25rem;
  background: #444;
  color: white;
  border-left: 0.25rem ridge #888;
  position: relative;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#control-panel label {
  user-select: none;
}
#version a {
  border: 1px solid yellow;
  padding: 0.5rem;
  display: block;
  text-align: center;
  animation: flash-new-version 0.5s;
}
body[data-theme-light="true"] #version a {
  border-color: hotpink;
}

@keyframes flash-new-version {
  from { background: lightblue }
  to { background: transparent }
}
a {
  color: cyan;
}
body[data-theme-light="true"] a {
  color: #00E;
}
body[data-theme-light="true"] #control-panel {
  border-left-color: #eee;
  border-left-style: groove;
  background: #eee;
  color: black;
}

.attr-arg-list {
  padding: 0.5rem;
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: auto auto;


  /* flex-direction: column; */
}
/* .attr-arg-input-text { */
  /* margin: 0.5rem; */
/* } */
.attr-list-submit {
  /* border-color: darkgreen; */
  width: -webkit-fill-available;
  width: fill;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0 0.125rem;
  background: none;
  cursor: pointer;
  color: white;
}
.attr-list-submit:hover {
  background: #555;
}
.attr-list-submit:active {
  background: #8888;
}
.attr-input-twopill {
  border: 1px solid #888;
  border-radius: 0.25rem;
}
body[data-theme-light="true"] .attr-input-twopill {
  border-color: #aaa;

}

body.locator-request-active .nodeLocatorContainer {
  position: relative;
}
body.locator-request-active .nodeLocatorContainer::after {
  content: ' ';
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  width: 100%;
  /* width: calc(-webkit-fill-available + 10px); */
  height: 100%;
  transform: translate(-50%, -50%);
  /* height: calc(-webkit-fill-available + 32px); */
  border: 2px dashed red;
  animation: nodeLocatorContainerBlink infinite 1s;
}
@keyframes nodeLocatorContainerBlink{
  0% { border-color: red; }
  50% { border-color: white; }
}
body.locator-request-active  .nodeLocatorContainer:hover::after {
  background: #F77A;
  cursor: pointer;
}

.attr-input-twopill-selected {
  background-color: #7774;
  border-color: cyan;
}
body[data-theme-light="true"] .attr-input-twopill-selected {
  border-color: cyan;
}
body[data-theme-light="true"] .attr-input-twopill-selected {
  background-color: #aaa4;

}
.attr-input-twopill-unselected {
  color: gray;
  border-color: gray;
}

body[data-theme-light="true"] .attr-list-submit {
  border-color: #333;
  color: black;
}
body[data-theme-light="true"] .attr-list-submit:hover {
  background: #ddd;
}
body[data-theme-light="true"] .attr-list-submit:active {
  background: #bbb;
}

.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  min-width: 4rem;
  background: #333;
  color: white;
  top: 1px;
  left: 1px;
  border: 1px solid #999;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: 0px 2px 0.5rem #333;
  cursor: move;
  user-select: none;
  max-height: 80vh;
  /* max-width: 40vw; */
  overflow-y: auto;
  overflow-x: auto;
}
/* .modalWindow[data-anchor="top-left"] {
  left: unset;
  right: 1px;
} */
.modalWindow:focus,
.modalWindow:focus-within {
  border-color: #aff;
}

body[data-theme-light="true"] .modalWindow {
  background: #f4f4f4;
  color: #222;
  box-shadow: 0px 2px 0.5rem #aaa;
}


.modalTitle {
  background: #111;
  padding: 0.125rem 0.25rem;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body[data-theme-light="true"] .modalTitle {
  background: white;
}

.modalTitle .button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.modalEditButton {
  width: 18px;
  top: 3.5px;
  position: relative;

  /* margin-top: 1px; */
}
.modalOverflowButton {
  width: 22px;
}

.modalEditButton,
.modalOverflowButton {
  opacity: 0.8;
}
.modalCloseButton {
  min-width: 1.5rem;
  text-align: center;
  border-radius: 0.75rem;
  color: white;
  display: flex;
}
.modalCloseButton > span {
  margin: auto;
  height: 1.125rem;
}

body[data-theme-light="true"] .modalOverflowButton,
body[data-theme-light="true"] .modalEditButton {
  filter: invert();
}
body[data-theme-light="true"] .modalCloseButton,
body[data-theme-light="true"] .modalOverflowButton,
body[data-theme-light="true"] .modalEditButton {
  color: black;
}

                                  .syntax-type { color: #4EC9B0; }
body[data-theme-light="true"]     .syntax-type { color: #267F99; }

                                  .syntax-attr { color: #DCDCAA; }
body[data-theme-light="true"]     .syntax-attr { color: #795E26; }

                                .syntax-string { color: #CE9178; }
body[data-theme-light="true"]   .syntax-string { color: #A31515; }

                              .syntax-modifier { color: #569CD6; }
body[data-theme-light="true"] .syntax-modifier { color: #0000FF; }

                                   .syntax-int { color: #B5CEA8; }
body[data-theme-light="true"]      .syntax-int { color: #098658; }

                                   .stream-arg-msg { color: #B5CEA8; }
body[data-theme-light="true"]      .stream-arg-msg { color: #098658; }


.bg-syntax-attr-dim,
.syntax-attr-dim-focus:focus {
  background: #DCDCAA66;
}

body[data-theme-light="true"] .bg-syntax-attr-dim,
body[data-theme-light="true"] .syntax-attr-dim-focus:focus {
  background: #795E2633;
}

#input-header {
  display: flex;
  justify-content: space-between;
  padding-right: 0.25rem;
}

#input-header button,
select {
  /* font-size: 1rem; */
  height: 1.5rem;
}

#input-header,
#settings-header-wrapper {
  margin: auto 0 0 0;
}

#show-tests {
  /* background: none; */
  /* border: '5px solid red'; */
  /* color: white; */
  /* background: #555; */
  border-radius: 0.25rem;
  /* border: none; */
}
/* body[data-theme-light="true"] {

} */

#input-wrapper, #control-panel {
  margin-top: 0.125rem;
}

#settings-header-wrapper {
  min-height: 1.5rem;
  max-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#settings-header-open {
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  /* align-self: flex-end; */
  vertical-align: bottom;
}

#display-help {
  margin-top: 2rem;
  padding: 0 0.25rem;
  /* border-style: solid;
  border-color: black;
  background: gray; */
}

.override-main-args-live-view {
  background: #111;
  /* overflow-y: scroll; */
}
body[data-theme-light="true"] .override-main-args-live-view {
  background: #EEE;
}
/* body[data-theme-light="true"] #display-help {
  background: #ddd;
  border-color: #aaa;
}

body[data-theme-light="true"] #display-help:hover {
  background: #aaa;
  cursor: pointer;
} */


/* #output-header::after {
  padding-left: .5rem;
}

#output-header[data-ok="true"]::after {
  content: '✅'
}

#output-header[data-ok="false"]::after {
  content: '❌';
} */

textarea {
  min-height: 50vh;
}
#output {
  color: black;
}

.monaco-rag-highlight {
  font-style: oblique;
  background: #8888;
}
.monaco-rag-highlight-sticky {
  border-bottom: 2px solid;
  margin-bottom: -2px;
}
.monaco-rag-highlight-sticky-0 { border-bottom-color: lime; }
.monaco-rag-highlight-sticky-1 { border-bottom-color: orange; }
.monaco-rag-highlight-sticky-2 { border-bottom-color: hotpink; }
.monaco-rag-highlight-sticky-3 { border-bottom-color: mediumslateblue; }
.monaco-rag-highlight-sticky-4 { border-bottom-color: tomato; }
.monaco-rag-highlight-sticky-5 { border-bottom-color: magenta; }
.monaco-rag-highlight-sticky-6 { border-bottom-color: royalblue; }
.monaco-rag-highlight-sticky-7 { border-bottom-color: mediumaquamarine; }
.monaco-rag-highlight-sticky-8 { border-bottom-color: lightsalmon; }
.monaco-rag-highlight-sticky-9 { border-bottom-color: skyblue; }

body[data-theme-light="true"] .monaco-rag-highlight {
  background: #8884;
}


.dim-button:hover { background: #AAA; }
.dim-button, .dim-button:active {
  cursor: pointer;
  background: #555;
  border-radius: 50%;
  border: none;
}
body[data-theme-light="true"] .dim-button:hover { background: #AAA; }
body[data-theme-light="true"] .dim-button,
body[data-theme-light="true"] .dim-button:active {
  background: #EEE;
}
.myLineDecoration {
	background: lightblue;
	width: 5px !important;
	margin-left: 3px;
}
.clickHighlightOnHover:hover {
  cursor: pointer;
}
.highlightOnHover:hover, .clickHighlightOnHover:hover {
  background: #7777;
}
body[data-theme-light="true"] .highlightOnHover:hover,
body[data-theme-light="true"] .clickHighlightOnHover:hover {
  background: #aaa7;
}

.attr-modal-filter {
  margin: 0.125rem 0.125rem 0.5rem;
  display: block;
  width: calc(100% - 1rem);
  /* margin-left */
  /* width: -webkit-fill-available; */

}
.attr-modal-filter.empty {
  font-style: italic;
}

.vertical-separator {
  border-left: 1px solid white;
  padding: 0 0.5rem;
}
body[data-theme-light="true"] .vertical-separator {
  border-left-color: black;
}

.search-list-separator {
  border-top: 1px dashed white;
  margin: 0.5rem 0;
}
body[data-theme-light="true"] .search-list-separator {
  border-top-color: black;
}

.absoluteCenter {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes lds-spinner-fade-in {
  0%, 20% {visibility: hidden; }
  21% {visibility: visible; }
}
/* Taken from https://loading.io/css/ */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  animation: lds-spinner-fade-in 1s linear;
}
.lds-spinner div {
  transform-origin: 20px 20px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1.5px;
  left: 18.5px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  background: #fff;
}
body[data-theme-light="true"] .lds-spinner div:after {
  background: #555;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.captured-stdout {
  color: cyan;
  font-style: italic;
}
.captured-stderr {
  color:pink;
  font-style: italic;
}


body[data-theme-light="true"] .captured-stdout {
  color: darkblue;
}
body[data-theme-light="true"] .captured-stderr {
  color: darkred;
}

.context-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
  border-top: 1px solid black;
  cursor: pointer;
}
body[data-theme-light="true"] .context-menu-row {
  border-top-color: #777;
}

.context-menu-row:first-of-type {
  border-top: none;
}
/* .context-menu-row img {
  margin-left: 1rem;
} */
.context-menu-row:hover {
  background: #7777;
}

.test-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.test-category:hover {
  cursor: pointer;
  background: #555;
}

.test-case {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 0.25rem;
  cursor: pointer;
}
.test-case:hover:not(:active) {
  background: #777;
}
body[data-theme-light="true"] .test-case {
  border-bottom-color: black;
}
body[data-theme-light="true"] .test-case:hover:not(:active) {
  background: #AAAA;
}
.test-case > span {
  flex-shrink: 4;
}

.test-case > div {
  display: flex;
  flex-direction: row;
  min-width: 20%;
  margin: auto 0;
}

.test-diff-error {
  background-color: darkred;
}
body[data-theme-light="true"] .test-diff-error {
  background-color:pink;
}

.test-diff-unmatched {
  background-color: #098658;
}
body[data-theme-light="true"] .test-diff-unmatched {
  background-color:#B5CEA8;
}
