# This file is based on a node.js template, see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test on commit

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        node-version: [23.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    env:
      CI: true

    steps:
    - uses: actions/checkout@v3
    - run: sh build-and-test.sh
